{
  "swagger" : "2.0",
  "info" : {
    "description" : "**Please note that, for the beta version, we will try to avoid any breaking changes as much as possible, but we will not guarantee it.**\n\n**Client applications using the beta version should expect breaking changes from time to time**\n\nOur APIs let your applications fetch data from Croesus, allowing you to manage Croesus information and functions in your applications..\n\nBased on simple REST principles, our API endpoints return metadata in JSON format.\n",
    "version" : "Beta",
    "title" : "Croesus Services - Preview",
    "termsOfService" : "",
    "contact" : { }
  },
  "host" : "mbio8vc.restletmocks.net",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "security" : [ {
    "Bearer" : [ ]
  } ],
  "paths" : {
    "/accounts/{accountId}" : {
      "get" : {
        "summary" : "Get an account.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. \n\nThe list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, the account will be returned using its own currency."
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort. \n\nThe supported target fields are:\n\n- LongName\n\n- ShortName\n\n- Number (default; ascending)\n\n- InvestmentAdvisorCode\n\n- AccountCurrency\n\n- TotalValue\n\n- Margin\n\n- Balance"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingAccount"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "accountId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the accounts."
      } ],
      "x-restlet" : {
        "section" : "Accounts"
      }
    },
    "/accounts" : {
      "get" : {
        "summary" : "Get the list of accounts.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. \n\nThe list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, each account will be returned using their own currency."
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort.\n\nThe supported target fields are:\n\n- LongName\n\n- ShortName\n\n- Number (default; ascending)\n\n- InvestmentAdvisorCode\n\n- AccountCurrency\n\n- TotalValue\n\n- Margin\n\n- Balance"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingAccount"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Accounts"
      }
    },
    "/clients/{clientId}/accounts" : {
      "get" : {
        "summary" : "Get the accounts of a list of clients.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. The list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, each account will be returned using their own currency."
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort.\n\nThe supported target fields are:\n\n- LongName\n\n- ShortName\n\n- Number (default; ascending)\n\n- InvestmentAdvisorCode\n\n- AccountCurrency\n\n- TotalValue\n\n- Margin\n\n- Balance"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingAccount"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "clientId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the clients."
      } ],
      "x-restlet" : {
        "section" : "Accounts"
      }
    },
    "/relationships/{relationshipId}/accounts" : {
      "get" : {
        "summary" : "Get the accounts of a relationship.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. The list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, each account will be returned using their own currency"
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort.\n\nThe supported target fields are:\n\n- LongName\n\n- ShortName\n\n- Number (default; ascending)\n\n- InvestmentAdvisorCode\n\n- AccountCurrency\n\n- TotalValue\n\n- Margin\n\n- Balance"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingAccount"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "relationshipId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the relationships."
      } ],
      "x-restlet" : {
        "section" : "Accounts"
      }
    },
    "/clients/{clientId}" : {
      "get" : {
        "summary" : "Get a client.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. \n\nThe list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, the client will be returned using its own currency."
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort. \n\nThe supported target fields are:\n\n- ShortName (default; ascending)\n\n- LongName\n\n- DateOfBirth\n\n- InvestmentAdvisorCode\n\n- TotalValue\n\n- LastContactDate\n\n- Balance\n\n- Margin"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingClientFull"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "clientId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the clients."
      } ],
      "x-restlet" : {
        "section" : "Clients"
      }
    },
    "/clients" : {
      "get" : {
        "summary" : "Get a list of clients.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. \n\nThe list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, each client will be returned using their own currency."
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort. \n\nThe supported target fields are:\n\n- ShortName (default; ascending)\n\n- LongName\n\n- DateOfBirth\n\n- InvestmentAdvisorCode\n\n- TotalValue\n\n- LastContactDate\n\n- Balance\n\n- Margin"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingClientSimplified"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Clients"
      }
    },
    "/accounts/{accountId}/clients" : {
      "get" : {
        "summary" : "Get the client of an account.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. The list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, each client will be returned using their own currency."
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort.\n\nThe supported target fields are:\n\n- ShortName (default; ascending)\n\n- LongName\n\n- DateOfBirth\n\n- InvestmentAdvisorCode\n\n- TotalValue\n\n- LastContactDate\n\n- Balance\n\n- Margin"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingClientSimplified"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "accountId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the account."
      } ],
      "x-restlet" : {
        "section" : "Clients"
      }
    },
    "/relationships/{relationshipId}/clients" : {
      "get" : {
        "summary" : "Get the client of a relationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. The list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, each client will be returned using their own currency."
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort.\n\nThe supported target fields are:\n\n- ShortName (default; ascending)\n\n- LongName\n\n- DateOfBirth\n\n- InvestmentAdvisorCode\n\n- TotalValue\n\n- LastContactDate\n\n- Balance\n\n- Margin"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingClientSimplified"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "relationshipId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the relationship."
      } ],
      "x-restlet" : {
        "section" : "Clients"
      }
    },
    "/clients/{clientId}/portfolio" : {
      "get" : {
        "summary" : "Get the blended portfolio for a list of clients.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. The list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided:\n\n- If all clients have the same currency, the portfolio will be calculated using the client currency.\n\n- Otherwise, the portfolio will be calculated using the firm currency."
        }, {
          "name" : "mode",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The mode wanted. If the mode parameter has the value \"assetClass\" the portfolio will be displayed in the \"By Asset Class\" mode.\n\n\nOtherwise the \"By Security\" mode is used.",
          "default" : "Security",
          "enum" : [ "Security", "AssetClass" ]
        }, {
          "name" : "includeZeroPositions",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "description" : "Determines whether the zero quantity positions held by the portfolio must be included.",
          "default" : false
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "object",
              "description" : "On success, the HTTP status code in the response header is 200 OK and the response body contains one of the following object, in JSON format:\n\n* a portfolioBySecurity object (when the parameter \"mode\" = \"security\")\n* a portfolioByAssetClass object (when the parameter \"mode\" = \"assetClass\")\n\nObjects are returned in the order requested. If an object in not found, a null value is returned in the appropriate position.\n\nOn error, the header status code is an error code and the response body contains an error object.",
              "properties" : {
                "PortfolioBySecurity" : {
                  "$ref" : "#/definitions/PortfolioBySecurity"
                },
                "PortfolioByAssetClass" : {
                  "$ref" : "#/definitions/PortfolioByAssetClass"
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "clientId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the client."
      } ],
      "x-restlet" : {
        "section" : "Portfolio"
      }
    },
    "/accounts/{accountId}/portfolio" : {
      "get" : {
        "summary" : "Get the portfolio for a list of accounts.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. The list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided:\n\n- If all accounts have the same currency, the portfolio will be calculated using the account currency.\n\n- Otherwise, the portfolio will be calculated using the firm currency."
        }, {
          "name" : "mode",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The mode wanted. If the mode parameter has the value \"assetClass\" the portfolio will be displayed in the \"By Asset Class\" mode.\n\n\nOtherwise the \"By Security\" mode is used.",
          "default" : "Security",
          "enum" : [ "Security", "AssetClass" ]
        }, {
          "name" : "includeZeroPositions",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "description" : "Determines whether the zero quantity positions held by the portfolio must be included.",
          "default" : false
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "object",
              "description" : "On success, the HTTP status code in the response header is 200 OK and the response body contains one of the following object, in JSON format:\n\n* a portfolioBySecurity object (when the parameter \"mode\" = \"security\")\n* a portfolioByAssetClass object (when the parameter \"mode\" = \"assetClass\")\n\nObjects are returned in the order requested. If an object in not found, a null value is returned in the appropriate position.\n\nOn error, the header status code is an error code and the response body contains an error object.",
              "properties" : {
                "PortfolioBySecurity" : {
                  "$ref" : "#/definitions/PortfolioBySecurity"
                },
                "PortfolioByAssetClass" : {
                  "$ref" : "#/definitions/PortfolioByAssetClass"
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "accountId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the account"
      } ],
      "x-restlet" : {
        "section" : "Portfolio"
      }
    },
    "/relationships/{relationshipId}/portfolio" : {
      "get" : {
        "summary" : "Get the portfolio for a list of relationships",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. The list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided:\n\n- If all relationships have the same currency, the portfolio will be calculated using the relationship currency.\n\n- Otherwise, the portfolio will be calculated using the firm currency."
        }, {
          "name" : "mode",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The mode wanted. If the mode parameter has the value \"assetClass\" the portfolio will be displayed in the \"By Asset Class\" mode.\n\n\nOtherwise the \"By Security\" mode is used.",
          "default" : "Security",
          "enum" : [ "Security", "AssetClass" ]
        }, {
          "name" : "includeZeroPositions",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "description" : "Determines whether the zero quantity positions held by the portfolio must be included.",
          "default" : false
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "object",
              "description" : "On success, the HTTP status code in the response header is 200 OK and the response body contains one of the following object, in JSON format:\n\n* a portfolioBySecurity object (when the parameter \"mode\" = \"security\")\n* a portfolioByAssetClass object (when the parameter \"mode\" = \"assetClass\")\n\nObjects are returned in the order requested. If an object in not found, a null value is returned in the appropriate position.\n\nOn error, the header status code is an error code and the response body contains an error object.",
              "properties" : {
                "PortfolioBySecurity" : {
                  "$ref" : "#/definitions/PortfolioBySecurity"
                },
                "PortfolioByAssetClass" : {
                  "$ref" : "#/definitions/PortfolioByAssetClass"
                }
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "relationshipId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the relationship."
      } ],
      "x-restlet" : {
        "section" : "Portfolio"
      }
    },
    "/relationships/{relationshipId}" : {
      "get" : {
        "summary" : "Get a relationship",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. \n\nThe list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, the relationship will be returned using its own currency."
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort. \n\nThe supported target fields are:\n\n- ShortName (default; ascending)\n\n- LongName\n\n- Number\n\n- InvestmentAdvisorCode\n\n- RelationshipCurrency\n\n- TotalValue\n\n- Balance\n\n- Margin"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingRelationshipFull"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "relationshipId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the relationship."
      } ],
      "x-restlet" : {
        "section" : "Relationships"
      }
    },
    "/relationships" : {
      "get" : {
        "summary" : "Get a list of relationships.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. \n\nThe list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, each relationship will be returned using their own currency."
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort. \n\nThe supported target fields are:\n\n- ShortName (default; ascending)\n\n- LongName\n\n- Number\n\n- InvestmentAdvisorCode\n\n- RelationshipCurrency\n\n- TotalValue\n\n- Balance\n\n- Margin"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingRelationshipSimplified"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Relationships"
      }
    },
    "/accounts/{accountId}/relationships" : {
      "get" : {
        "summary" : "Get the relationship of an account.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. The list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, each relationship will be returned using their own currency."
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort.\n\nThe supported target fields are:\n\n- ShortName (default; ascending)\n\n- LongName\n\n- Number\n\n- InvestmentAdvisorCode\n\n- RelationshipCurrency\n\n- TotalValue\n\n- Balance\n\n- Margin"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingRelationshipSimplified"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "accountId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the account."
      } ],
      "x-restlet" : {
        "section" : "Relationships"
      }
    },
    "/clients/{clientId}/relationships" : {
      "get" : {
        "summary" : "Get the relationships of a client",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "requestedCurrency",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "The information requested will be converted to this currency. The list of supported currencies follow the International Standard for currency codes (ISO 4217).\n\nThe values must be provided in upper case.\n\nIf not provided, each relationship will be returned using their own currency."
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort.\n\nThe supported target fields are:\n\n- ShortName (default; ascending)\n\n- LongName\n\n- Number\n\n- InvestmentAdvisorCode\n\n- RelationshipCurrency\n\n- TotalValue\n\n- Balance\n\n- Margin"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingRelationshipSimplified"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "clientId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the client."
      } ],
      "x-restlet" : {
        "section" : "Relationships"
      }
    },
    "/transactions/{transactionId}" : {
      "get" : {
        "summary" : "Get a transaction.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort.\n\nThe supported target fields are:\n\n- TransactionDate\n\n- SecurityDescription\n\n- SettlementDate\n\n- TransactionCurrency\n\n- Total\n\n- ProcessDate (default; descending)\n\n- AccountNumber\n\n- ClientLongName"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingTransaction"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "transactionId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A Croesus IDs for the transaction."
      } ],
      "x-restlet" : {
        "section" : "Transactions"
      }
    },
    "/accounts/{accountId}/Transactions" : {
      "get" : {
        "summary" : "Get the list of transaction for given accounts.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionTypeCode",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "The transaction type code used to filter the response. If it applies, only the resources with the matching type will be included in the response.",
          "items" : {
            "type" : "integer"
          }
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort.\n\nThe supported target fields are:\n\n- TransactionDate\n\n- SecurityDescription\n\n- SettlementDate\n\n- TransactionCurrency\n\n- Total\n\n- ProcessDate (default; descending)\n\n- AccountNumber\n\n- ClientLongName"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "periodStart",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "format" : "date",
          "description" : "The start of the period used to filter the requested resources."
        }, {
          "name" : "periodEnd",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "format" : "date",
          "description" : "The end of the period used to filter the requested resources."
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingTransaction"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "accountId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the account."
      } ],
      "x-restlet" : {
        "section" : "Transactions"
      }
    },
    "/clients/{clientId}/Transactions" : {
      "get" : {
        "summary" : "Get the list of transaction for given clients.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionTypeCode",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "The transaction type code used to filter the response. If it applies, only the resources with the matching type will be included in the response.",
          "items" : {
            "type" : "integer"
          }
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort.\n\nThe supported target fields are:\n\n- TransactionDate\n\n- SecurityDescription\n\n- SettlementDate\n\n- TransactionCurrency\n\n- Total\n\n- ProcessDate (default; descending)\n\n- AccountNumber\n\n- ClientLongName"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "periodStart",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "format" : "date",
          "description" : "The start of the period used to filter the requested resources."
        }, {
          "name" : "periodEnd",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "format" : "date",
          "description" : "The end of the period used to filter the requested resources."
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingTransaction"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "clientId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the client"
      } ],
      "x-restlet" : {
        "section" : "Transactions"
      }
    },
    "/relationships/{relationshipId}/Transactions" : {
      "get" : {
        "summary" : "Get the list of transaction for given relationships.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "transactionTypeCode",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "The transaction type code used to filter the response. If it applies, only the resources with the matching type will be included in the response.",
          "items" : {
            "type" : "integer"
          }
        }, {
          "name" : "orderBy",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Field name that will be used to sort.\n\nThe supported target fields are:\n\n- TransactionDate\n\n- SecurityDescription\n\n- SettlementDate\n\n- TransactionCurrency\n\n- Total\n\n- ProcessDate (default; descending)\n\n- AccountNumber\n\n- ClientLongName"
        }, {
          "name" : "before",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the start of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "after",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Cursor that points to the end of the page of data that has been returned.\n\nIf neither the before nor the after is specified, the first page will be returned."
        }, {
          "name" : "pageLimit",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of elements to return, for the current page. Fewer elements may be returned if it is the last page.",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        }, {
          "name" : "periodStart",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "format" : "date",
          "description" : "The start of the period used to filter the requested resources."
        }, {
          "name" : "periodEnd",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "format" : "date",
          "description" : "The end of the period used to filter the requested resources."
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "description" : "A valid access token.",
          "x-example" : "Authorization: Bearer kjiodf98nsdfh98sd98husiusd78"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/PagingTransaction"
            }
          },
          "400" : {
            "description" : "Status 400",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "relationshipId",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "A comma-separated list of the Croesus IDs for the relationship"
      } ],
      "x-restlet" : {
        "section" : "Transactions"
      }
    }
  },
  "securityDefinitions" : {
    "Bearer" : {
      "description" : "Token obtained by the login endpoint",
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "Account" : {
      "type" : "object",
      "required" : [ "AccountId" ],
      "properties" : {
        "AccountId" : {
          "type" : "integer",
          "description" : "Unique Croesus account identifier"
        },
        "Number" : {
          "type" : "string",
          "description" : "Firm account number"
        },
        "ShortName" : {
          "type" : "string",
          "description" : "Account holder's short name",
          "maxLength" : 16
        },
        "LongName" : {
          "type" : "string",
          "description" : "Account holder's full name"
        },
        "TypeCode" : {
          "type" : "string",
          "description" : "Account type identifier",
          "enum" : [ "Dictionary()" ]
        },
        "TypeDescription" : {
          "type" : "string",
          "description" : "Account type description"
        },
        "SubtypeCode" : {
          "type" : "string",
          "description" : "Account subtype code"
        },
        "SubTypeDescription" : {
          "type" : "string",
          "description" : "Account subtype description"
        },
        "ClientId" : {
          "type" : "integer",
          "description" : "Unique Croesus client identifier"
        },
        "ClientNumber" : {
          "type" : "string",
          "description" : "Firm client number"
        },
        "InvestmentAdvisorCode" : {
          "type" : "string",
          "description" : "IA Code"
        },
        "InvestmentObjectiveId" : {
          "type" : "integer",
          "description" : "Unique Croesus investment objective identifier"
        },
        "InvestmentObjective" : {
          "type" : "string",
          "description" : "Investment objective description"
        },
        "AccountCurrency" : {
          "type" : "string",
          "description" : "Account currency"
        },
        "RequestedCurrency" : {
          "type" : "string",
          "description" : "Currency to convert the amounts into, if different than account currency.\n\nWhen there is a requested currency, the amounts returned are converted based \non the requested currency when necessary"
        },
        "Balance" : {
          "type" : "number",
          "format" : "double",
          "description" : "Cash balance of the account as at settlement date."
        },
        "TotalValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Account market value including accrued interest and dividends"
        },
        "InceptionDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Account inception date",
          "example" : "2018-02-28"
        },
        "CreationDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Account creation date in Croesus",
          "example" : "2018-02-28"
        },
        "LastTransactionDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date of the last transaction in the account",
          "example" : "2018-02-28"
        },
        "LastTradeDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date of the last trade in the account",
          "example" : "2018-02-28"
        },
        "CloseDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Account closing date",
          "example" : "2018-02-28"
        },
        "ClassCode" : {
          "type" : "string",
          "description" : "Account classification code"
        },
        "ClassDescription" : {
          "type" : "string",
          "description" : "Account classification description"
        },
        "StatusCode" : {
          "type" : "string",
          "description" : "Account status code"
        },
        "StatusDescription" : {
          "type" : "string",
          "description" : "Account status"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "Address" : {
      "type" : "object",
      "required" : [ "AddressId" ],
      "properties" : {
        "AddressId" : {
          "type" : "integer",
          "description" : "Unique Croesus address identifier"
        },
        "Line1" : {
          "type" : "string",
          "description" : "Address - line 1"
        },
        "Line 2" : {
          "type" : "string",
          "description" : "Address - line 2"
        },
        "Line3" : {
          "type" : "string",
          "description" : "Address - line 3"
        },
        "City" : {
          "type" : "string",
          "description" : "City / Province"
        },
        "ZipCode" : {
          "type" : "string",
          "description" : "Zip code"
        },
        "Country" : {
          "type" : "string",
          "description" : "Name of the Country"
        },
        "AddressType" : {
          "type" : "string",
          "description" : "Type of address"
        },
        "StartDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the address becomes valid",
          "example" : "2005-02-28"
        },
        "EndDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date on which the address is no longer valid",
          "example" : "2018-06-21"
        },
        "IsMailingAddress" : {
          "type" : "boolean",
          "description" : "Indicates whether this address is the mailing address"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "AssetAllocationPosition" : {
      "type" : "object",
      "required" : [ "PositionId" ],
      "properties" : {
        "PositionId" : {
          "type" : "integer",
          "description" : "Unique Croesus position identifier\n\nUnique per asset class"
        },
        "AccountNumber" : {
          "type" : "string",
          "description" : "Firm account number\n\nCalculation is based on current dividend payment frequency and the amount of the last dividend paid\n\nPrimary root, which corresponds to the primary client. Its number is used as the grouping identification number."
        },
        "Quantity" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position quantity\n\nWeighted average of each position's cost yields"
        },
        "SecurityDescription" : {
          "type" : "string",
          "description" : "Security description"
        },
        "AdjustedCostBase" : {
          "type" : "number",
          "format" : "double"
        },
        "BookValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position book value"
        },
        "MarketPrice" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position's security market price"
        },
        "MarketValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position market value.\n\nMarket value excluding accrued interest and dividends"
        },
        "MarketValuePercentage" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position market value (%).\n\nPosition market value as a percentage of total portfolio value"
        },
        "GainLoss" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position realized gain or loss"
        },
        "GainLossPercentage" : {
          "type" : "number",
          "format" : "double",
          "description" : "Percentage of realized gains and losses for the position"
        },
        "Symbol" : {
          "type" : "string",
          "description" : "Position's security symbol"
        },
        "SecurityId" : {
          "type" : "integer",
          "description" : "Unique Croesus security identifier"
        },
        "Cusip" : {
          "type" : "string",
          "description" : "Security Cusip number"
        },
        "ClientId" : {
          "type" : "integer",
          "description" : "Unique Croesus client identifier."
        },
        "ClientNumber" : {
          "type" : "string",
          "description" : "Firm client number"
        },
        "InvestmentCost" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position investment cost"
        },
        "CostYield" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position cost yield"
        },
        "MarketYield" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position market yield"
        },
        "ModifiedDuration" : {
          "type" : "number",
          "format" : "double"
        },
        "AccruedInterestDividend" : {
          "type" : "number",
          "format" : "double"
        },
        "AnnualIncome" : {
          "type" : "number",
          "format" : "double"
        },
        "YieldToMaturityCostNominal" : {
          "type" : "number",
          "format" : "double"
        },
        "YieldToMaturityMarketNominal" : {
          "type" : "number",
          "format" : "double"
        },
        "CurrentYield" : {
          "type" : "number",
          "format" : "double"
        },
        "YieldToDateACBNominal" : {
          "type" : "number",
          "format" : "double"
        },
        "BookValueInvestmentCost" : {
          "type" : "number",
          "format" : "double"
        },
        "SecurityColorCodeARGB" : {
          "type" : "string"
        },
        "ProjectedIncome" : {
          "$ref" : "#/definitions/ProjectedIncome"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "Client (full)" : {
      "type" : "object",
      "required" : [ "ClientId" ],
      "properties" : {
        "ClientId" : {
          "type" : "integer",
          "description" : "Unique Croesus client identifier"
        },
        "Number" : {
          "type" : "string",
          "description" : "Firm client number"
        },
        "ShortName" : {
          "type" : "string",
          "description" : "Client's short name",
          "maxLength" : 16
        },
        "LongName" : {
          "type" : "string",
          "description" : "Client's long name"
        },
        "InvestmentAdvisorCode" : {
          "type" : "string",
          "description" : "IA Code"
        },
        "InvestmentObjectiveId" : {
          "type" : "integer",
          "description" : "Unique Croesus investment objective identifier"
        },
        "InvestmentObjective" : {
          "type" : "string",
          "description" : "Investment objective description"
        },
        "ClientCurrency" : {
          "type" : "string",
          "description" : "Client currency"
        },
        "RequestedCurrency" : {
          "type" : "string",
          "description" : "Currency to convert the amounts into, if different than account currency.\n\nWhen there is a requested currency, the amounts returned are converted based \non the requested currency when necessary"
        },
        "Gender" : {
          "type" : "string",
          "description" : "Client gender code",
          "enum" : [ "Dictionary()" ]
        },
        "GenderDescription" : {
          "type" : "string",
          "description" : "Client gender description"
        },
        "Balance" : {
          "type" : "number",
          "format" : "double",
          "description" : "Cash balance of all of the client accounts as at settlement date"
        },
        "Margin" : {
          "type" : "string",
          "description" : "Client excess margin"
        },
        "TotalValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Client market value including accrued interest and dividends"
        },
        "LastContactDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date of the last contact with the client",
          "example" : "2018-02-28"
        },
        "DateOfBirth" : {
          "type" : "string",
          "format" : "date",
          "description" : "Client date of birth",
          "example" : "1962-03-21"
        },
        "Language" : {
          "type" : "string",
          "description" : "Client's preferred language",
          "example" : "2018-02-28"
        },
        "Addresses" : {
          "type" : "array",
          "description" : "List of the client's mailing addresses",
          "items" : {
            "$ref" : "#/definitions/Address"
          }
        },
        "Phones" : {
          "type" : "array",
          "description" : "List of the client's telephone numbers",
          "items" : {
            "$ref" : "#/definitions/Phone"
          }
        },
        "Emails" : {
          "type" : "array",
          "description" : "List of the client's email addresses",
          "items" : {
            "$ref" : "#/definitions/Email"
          }
        },
        "Products" : {
          "type" : "array",
          "description" : "List of the client's products",
          "items" : {
            "$ref" : "#/definitions/Product"
          }
        },
        "Services" : {
          "type" : "array",
          "description" : "List of the client's services",
          "items" : {
            "$ref" : "#/definitions/Service"
          }
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "Client (simplified)" : {
      "type" : "object",
      "required" : [ "ClientId" ],
      "properties" : {
        "ClientId" : {
          "type" : "integer",
          "description" : "Unique Croesus client identifier"
        },
        "Number" : {
          "type" : "string",
          "description" : "Firm client number"
        },
        "ShortName" : {
          "type" : "string",
          "description" : "Client's short name",
          "maxLength" : 16
        },
        "LongName" : {
          "type" : "string",
          "description" : "Client's long name"
        },
        "InvestmentAdvisorCode" : {
          "type" : "string",
          "description" : "IA Code"
        },
        "InvestmentObjectiveId" : {
          "type" : "integer",
          "description" : "Unique Croesus investment objective identifier"
        },
        "InvestmentObjective" : {
          "type" : "string",
          "description" : "Investment objective description"
        },
        "ClientCurrency" : {
          "type" : "string",
          "description" : "Client currency"
        },
        "RequestedCurrency" : {
          "type" : "string",
          "description" : "Currency to convert the amounts into, if different than account currency.\n\nWhen there is a requested currency, the amounts returned are converted based \non the requested currency when necessary"
        },
        "Gender" : {
          "type" : "string",
          "description" : "Client gender code",
          "enum" : [ "Dictionary()" ]
        },
        "GenderDescription" : {
          "type" : "string",
          "description" : "Client gender description"
        },
        "Balance" : {
          "type" : "number",
          "format" : "double",
          "description" : "Cash balance of all of the client accounts as at settlement date"
        },
        "Margin" : {
          "type" : "string",
          "description" : "Client excess margin"
        },
        "TotalValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Client market value including accrued interest and dividends"
        },
        "LastContactDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date of the last contact with the client",
          "example" : "2018-02-28"
        },
        "DateOfBirth" : {
          "type" : "string",
          "format" : "date",
          "description" : "Client date of birth",
          "example" : "1962-03-21"
        },
        "Language" : {
          "type" : "string",
          "description" : "Client's preferred language",
          "example" : "2018-02-28"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "Email" : {
      "type" : "object",
      "properties" : {
        "Consent" : {
          "type" : "boolean"
        },
        "IsDefaultEmail" : {
          "type" : "boolean",
          "description" : "Indicates whether this email address is the default email address"
        },
        "EmailAddress" : {
          "type" : "string",
          "description" : "Email address"
        },
        "EmailType" : {
          "type" : "integer",
          "description" : "Type of email"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "Error" : {
      "type" : "object",
      "required" : [ "Status" ],
      "properties" : {
        "Status" : {
          "type" : "integer",
          "description" : "The HTTP status code (also returned in the response header; see Response Status Codes Response Status Codes for more information).",
          "minimum" : 400,
          "maximum" : 599
        },
        "Message" : {
          "type" : "string",
          "description" : "A short description of the cause of the error.",
          "example" : "Bad Request"
        },
        "Detail" : {
          "type" : "string",
          "description" : "A detailed description of the cause of the error. Provides additionnal information.",
          "example" : "Bad query parameter [$size]: Invalid integer value [abc]"
        }
      },
      "description" : "This general error structure is used throughout this API.",
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "Income" : {
      "type" : "object",
      "properties" : {
        "IncomeAmount" : {
          "type" : "number",
          "format" : "double",
          "description" : "Projected income amount (monthly)"
        },
        "Period" : {
          "type" : "string",
          "description" : "Year and Month"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "Paging" : {
      "type" : "object",
      "required" : [ "Items" ],
      "properties" : {
        "Items" : {
          "type" : "array",
          "description" : "The requested data.",
          "items" : {
            "type" : "object"
          }
        },
        "PageLimit" : {
          "type" : "integer",
          "description" : "The maximum number of items in the response (as set in the query or by default).",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        },
        "Next" : {
          "type" : "integer",
          "description" : "Id to obtain next page.\nEmpty if there is no next page (i.e. the current page is the last page)."
        },
        "Previous" : {
          "type" : "integer",
          "description" : "Id to obtain previous page.\nEmpty if there is no previous page (i.e. the current page is the first page)."
        },
        "NumberOfItems" : {
          "type" : "integer",
          "description" : "The total number of items returned in the current page"
        }
      },
      "description" : "This general paging structure is used throughout this API.",
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "PagingAccount" : {
      "type" : "object",
      "required" : [ "Items" ],
      "properties" : {
        "Items" : {
          "type" : "array",
          "description" : "The requested data.",
          "items" : {
            "$ref" : "#/definitions/Account"
          }
        },
        "PageLimit" : {
          "type" : "integer",
          "description" : "The maximum number of items in the response (as set in the query or by default).",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        },
        "Next" : {
          "type" : "integer",
          "description" : "Id to obtain next page.\nEmpty if there is no next page (i.e. the current page is the last page)."
        },
        "Previous" : {
          "type" : "integer",
          "description" : "Id to obtain previous page.\nEmpty if there is no previous page (i.e. the current page is the first page)."
        },
        "NumberOfItems" : {
          "type" : "integer",
          "description" : "The total number of items returned in the current page"
        }
      },
      "description" : "Paging structure is used to return a list of accounts.",
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "PagingClientFull" : {
      "type" : "object",
      "required" : [ "Items" ],
      "properties" : {
        "Items" : {
          "type" : "array",
          "description" : "The requested data.",
          "items" : {
            "$ref" : "#/definitions/Client (full)"
          }
        },
        "PageLimit" : {
          "type" : "integer",
          "description" : "The maximum number of items in the response (as set in the query or by default).",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        },
        "Next" : {
          "type" : "integer",
          "description" : "Id to obtain next page.\nEmpty if there is no next page (i.e. the current page is the last page)."
        },
        "Previous" : {
          "type" : "integer",
          "description" : "Id to obtain previous page.\nEmpty if there is no previous page (i.e. the current page is the first page)."
        },
        "NumberOfItems" : {
          "type" : "integer",
          "description" : "The total number of items returned in the current page"
        }
      },
      "description" : "Paging structure is used to return a list of clients (full).",
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "PagingClientSimplified" : {
      "type" : "object",
      "required" : [ "Items" ],
      "properties" : {
        "Items" : {
          "type" : "array",
          "description" : "The requested data.",
          "items" : {
            "$ref" : "#/definitions/Client (simplified)"
          }
        },
        "PageLimit" : {
          "type" : "integer",
          "description" : "The maximum number of items in the response (as set in the query or by default).",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        },
        "Next" : {
          "type" : "integer",
          "description" : "Id to obtain next page.\nEmpty if there is no next page (i.e. the current page is the last page)."
        },
        "Previous" : {
          "type" : "integer",
          "description" : "Id to obtain previous page.\nEmpty if there is no previous page (i.e. the current page is the first page)."
        },
        "NumberOfItems" : {
          "type" : "integer",
          "description" : "The total number of items returned in the current page"
        }
      },
      "description" : "Paging structure is used to return a list of clients (simplified).",
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "PagingRelationshipFull" : {
      "type" : "object",
      "required" : [ "Items" ],
      "properties" : {
        "Items" : {
          "type" : "array",
          "description" : "The requested data.",
          "items" : {
            "$ref" : "#/definitions/Relationship (full)"
          }
        },
        "PageLimit" : {
          "type" : "integer",
          "description" : "The maximum number of items in the response (as set in the query or by default).",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        },
        "Next" : {
          "type" : "integer",
          "description" : "Id to obtain next page.\nEmpty if there is no next page (i.e. the current page is the last page)."
        },
        "Previous" : {
          "type" : "integer",
          "description" : "Id to obtain previous page.\nEmpty if there is no previous page (i.e. the current page is the first page)."
        },
        "NumberOfItems" : {
          "type" : "integer",
          "description" : "The total number of items returned in the current page"
        }
      },
      "description" : "Paging structure is used to return a list of relationships (full).",
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "PagingRelationshipSimplified" : {
      "type" : "object",
      "required" : [ "Items" ],
      "properties" : {
        "Items" : {
          "type" : "array",
          "description" : "The requested data.",
          "items" : {
            "$ref" : "#/definitions/Relationship (simplified)"
          }
        },
        "PageLimit" : {
          "type" : "integer",
          "description" : "The maximum number of items in the response (as set in the query or by default).",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        },
        "Next" : {
          "type" : "integer",
          "description" : "Id to obtain next page.\nEmpty if there is no next page (i.e. the current page is the last page)."
        },
        "Previous" : {
          "type" : "integer",
          "description" : "Id to obtain previous page.\nEmpty if there is no previous page (i.e. the current page is the first page)."
        },
        "NumberOfItems" : {
          "type" : "integer",
          "description" : "The total number of items returned in the current page"
        }
      },
      "description" : "Paging structure is used to return a list of relationships (simplified).",
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "PagingTransaction" : {
      "type" : "object",
      "required" : [ "Items" ],
      "properties" : {
        "Items" : {
          "type" : "array",
          "description" : "The requested data.",
          "items" : {
            "$ref" : "#/definitions/Transaction"
          }
        },
        "PageLimit" : {
          "type" : "integer",
          "description" : "The maximum number of items in the response (as set in the query or by default).",
          "default" : 50,
          "minimum" : 1,
          "maximum" : 500
        },
        "Next" : {
          "type" : "integer",
          "description" : "Id to obtain next page.\nEmpty if there is no next page (i.e. the current page is the last page)."
        },
        "Previous" : {
          "type" : "integer",
          "description" : "Id to obtain previous page.\nEmpty if there is no previous page (i.e. the current page is the first page)."
        },
        "NumberOfItems" : {
          "type" : "integer",
          "description" : "The total number of items returned in the current page"
        }
      },
      "description" : "Paging structure is used to return a list of transactions.",
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "Phone" : {
      "type" : "object",
      "required" : [ "PhoneId" ],
      "properties" : {
        "PhoneId" : {
          "type" : "integer",
          "description" : "Unique Croesus phone identifier"
        },
        "PhoneNumber" : {
          "type" : "string",
          "description" : "Phone number"
        },
        "PhoneType" : {
          "type" : "string",
          "description" : "Type of phone number"
        },
        "DisplayOrder" : {
          "type" : "integer",
          "description" : "Phone number display rank"
        },
        "IsReadOnly" : {
          "type" : "boolean",
          "description" : "Indicates whether this phone number is editable"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "PortfolioAssetAllocation" : {
      "type" : "object",
      "required" : [ "PortfolioAssetAllocationId" ],
      "properties" : {
        "PortfolioAssetAllocationId" : {
          "type" : "integer",
          "description" : "Portfolio's asset class identifier.\n\nUnique per asset class"
        },
        "Description" : {
          "type" : "string",
          "description" : "Asset Allocation Category description"
        },
        "Percentage" : {
          "type" : "number",
          "format" : "double",
          "description" : "Ratio of the asset class' market value to the account's market value."
        },
        "AssetAllocation" : {
          "$ref" : "#/definitions/PositionAssetAllocation"
        },
        "MarketValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Market value is equal to the market price multiplied by the quantity of the position"
        },
        "BookValueACB" : {
          "type" : "number",
          "format" : "double",
          "description" : "Average cost per share of a security adjusted to include any further purchases or reinvested dividends."
        },
        "AnnualIncome" : {
          "type" : "number",
          "format" : "double",
          "description" : "Projected interests and dividends accumulated over a one-year period"
        },
        "TargetObjective" : {
          "type" : "number",
          "format" : "double"
        },
        "MinObjective" : {
          "type" : "number",
          "format" : "double"
        },
        "MaxObjective" : {
          "type" : "number",
          "format" : "double"
        },
        "GLBookValue" : {
          "type" : "number",
          "format" : "double"
        },
        "GLInvestedCapital" : {
          "type" : "number",
          "format" : "double"
        },
        "InvestedCapital" : {
          "type" : "number",
          "format" : "double"
        },
        "AccruedID" : {
          "type" : "number",
          "format" : "double"
        },
        "PositionQty" : {
          "type" : "integer",
          "description" : "Number of position held in the asset class"
        },
        "ColorCode" : {
          "type" : "string"
        },
        "Positions" : {
          "$ref" : "#/definitions/AssetAllocationPosition"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "PortfolioByAssetClass" : {
      "type" : "object",
      "properties" : {
        "AccountCount" : {
          "type" : "integer",
          "description" : "Number of accounts included in the portfolio"
        },
        "AccruedInterestDividend" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio accrued interest and dividends.\n\nSum of accrued interest and dividends of each positions held in the portfolio"
        },
        "CumulatedInterestDividend" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio accumulated interest and dividends.\n\nSum of accumulated interest and dividends of each position held in the portfolio"
        },
        "AnnualIncome" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio annual income estimate.\n\nCalculation is based on current dividend payment frequency and the amount of the last dividend paid\n\nPrimary root, which corresponds to the primary client. Its number is used as the grouping identification number."
        },
        "AverageCostYield" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio average cost yield.\n\nWeighted average of each position's cost yields"
        },
        "AverageMaturity" : {
          "type" : "number",
          "format" : "double"
        },
        "AverageModifiedDuration" : {
          "type" : "number",
          "format" : "double"
        },
        "Balance" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio cash balance"
        },
        "BookValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio book value"
        },
        "CumulatedCommission" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio accumulated commission"
        },
        "Currency" : {
          "type" : "string",
          "description" : "Portfolio currency"
        },
        "Date" : {
          "type" : "string",
          "format" : "date"
        },
        "Margin" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio excess margin"
        },
        "MarketValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio market value.\n\nMarket value excluding accrued interest and dividends"
        },
        "NetInvestment" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio net investment.\n\nNet amount of cash flows as at portfolio date; Inflows - Outflows"
        },
        "PositionQty" : {
          "type" : "integer",
          "description" : "Number of position held in the portfolio"
        },
        "TotalValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio total value.\n\nTotal value is equal to market value plus accrued interest and dividends"
        },
        "ProjectedIncome" : {
          "$ref" : "#/definitions/ProjectedIncome"
        },
        "AssetAllocations" : {
          "$ref" : "#/definitions/PortfolioAssetAllocation"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "PortfolioBySecurity" : {
      "type" : "object",
      "properties" : {
        "AccountCount" : {
          "type" : "integer",
          "description" : "Number of accounts included in the portfolio"
        },
        "AccruedInterestDividend" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio accrued interest and dividends.\n\nSum of accrued interest and dividends of each positions held in the portfolio"
        },
        "AnnualIncome" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio annual income estimate.\n\nCalculation is based on current dividend payment frequency and the amount of the last dividend paid\n\nPrimary root, which corresponds to the primary client. Its number is used as the grouping identification number."
        },
        "AverageCostYield" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio average cost yield.\n\nWeighted average of each position's cost yields"
        },
        "AverageMaturity" : {
          "type" : "number",
          "format" : "double"
        },
        "AverageModifiedDuration" : {
          "type" : "number",
          "format" : "double"
        },
        "Balance" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio cash balance"
        },
        "BookValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio book value"
        },
        "CumulatedCommission" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio accumulated commission"
        },
        "CumulatedInterestDividend" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio accumulated interest and dividends.\n\nSum of accumulated interest and dividends of each position held in the portfolio"
        },
        "Currency" : {
          "type" : "string",
          "description" : "Portfolio currency"
        },
        "Date" : {
          "type" : "string",
          "format" : "date"
        },
        "Margin" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio excess margin"
        },
        "MarketValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio market value.\n\nMarket value excluding accrued interest and dividends"
        },
        "NetInvestment" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio net investment.\n\nNet amount of cash flows as at portfolio date; Inflows - Outflows"
        },
        "PositionQty" : {
          "type" : "integer",
          "description" : "Number of position held in the portfolio"
        },
        "TotalValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Portfolio total value.\n\nTotal value is equal to market value plus accrued interest and dividends"
        },
        "Positions" : {
          "$ref" : "#/definitions/PortfolioPosition"
        },
        "ProjectedIncome" : {
          "$ref" : "#/definitions/ProjectedIncome"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "PortfolioPosition" : {
      "type" : "object",
      "required" : [ "AccountId", "PositionId" ],
      "properties" : {
        "PositionId" : {
          "type" : "integer",
          "description" : "Unique Croesus position identifier\n\nUnique per asset class"
        },
        "AccountId" : {
          "type" : "integer",
          "description" : "Unique Croesus account identifier."
        },
        "AccountNumber" : {
          "type" : "string",
          "description" : "Firm account number\n\nCalculation is based on current dividend payment frequency and the amount of the last dividend paid\n\nPrimary root, which corresponds to the primary client. Its number is used as the grouping identification number."
        },
        "Quantity" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position quantity\n\nWeighted average of each position's cost yields"
        },
        "SecurityDescription" : {
          "type" : "string",
          "description" : "Security description"
        },
        "AdjustedCostBase" : {
          "type" : "number",
          "format" : "double"
        },
        "BookValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position book value"
        },
        "MarketPrice" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position's security market price"
        },
        "MarketValue" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position market value.\n\nMarket value excluding accrued interest and dividends"
        },
        "GainLoss" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position realized gains or losses"
        },
        "MarketValuePercentage" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position market value (%).\n\nPosition market value as a percentage of total portfolio value"
        },
        "GainLossPercentage" : {
          "type" : "number",
          "format" : "double",
          "description" : "Percentage of realized gains and losses for the position"
        },
        "Symbol" : {
          "type" : "string",
          "description" : "Position's security symbol"
        },
        "SecurityId" : {
          "type" : "integer",
          "description" : "Unique Croesus security identifier"
        },
        "Cusip" : {
          "type" : "string",
          "description" : "Security Cusip number"
        },
        "ClientId" : {
          "type" : "integer",
          "description" : "Unique Croesus client identifier."
        },
        "ClientNumber" : {
          "type" : "string"
        },
        "Category" : {
          "type" : "integer"
        },
        "CategoryDescription" : {
          "type" : "string"
        },
        "MainCategory" : {
          "type" : "integer"
        },
        "MainCategoryDescription" : {
          "type" : "string"
        },
        "InvestmentCost" : {
          "type" : "number",
          "format" : "double"
        },
        "CostYield" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position cost yield"
        },
        "MarketYield" : {
          "type" : "number",
          "format" : "double",
          "description" : "Position market yield"
        },
        "ModifiedDuration" : {
          "type" : "number",
          "format" : "double"
        },
        "AccruedInterestDividend" : {
          "type" : "number",
          "format" : "double"
        },
        "AnnualIncome" : {
          "type" : "number",
          "format" : "double"
        },
        "YieldToMaturityCostNominal" : {
          "type" : "number",
          "format" : "double"
        },
        "YieldToMaturityMarketNominal" : {
          "type" : "number",
          "format" : "double"
        },
        "CurrentYield" : {
          "type" : "number",
          "format" : "double"
        },
        "YieldToDateACBNominal" : {
          "type" : "number",
          "format" : "double"
        },
        "BookValueInvestmentCost" : {
          "type" : "number",
          "format" : "double"
        },
        "SecurityColorCodeARGB" : {
          "type" : "string"
        },
        "ProjectedIncome" : {
          "$ref" : "#/definitions/ProjectedIncome"
        },
        "AssetAllocation" : {
          "$ref" : "#/definitions/PositionAssetAllocation"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "PositionAssetAllocation" : {
      "type" : "object",
      "required" : [ "PositionAssetAllocationId" ],
      "properties" : {
        "PositionAssetAllocationId" : {
          "type" : "integer",
          "description" : "Position's asset class identifier.\n\nUnique per asset class"
        },
        "Description" : {
          "type" : "string",
          "description" : "Asset Allocation Category description"
        },
        "Percentage" : {
          "type" : "number",
          "format" : "double",
          "description" : "Ratio of the asset class' market value to the account's market value."
        },
        "AssetAllocation" : {
          "$ref" : "#/definitions/PositionAssetAllocation"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "Product" : {
      "type" : "object",
      "properties" : {
        "Name" : {
          "type" : "string",
          "description" : "Product name"
        },
        "Value" : {
          "type" : "boolean",
          "description" : "Indicates whether the product is available"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "ProjectedIncome" : {
      "type" : "object",
      "properties" : {
        "Incomes" : {
          "$ref" : "#/definitions/Income"
        },
        "PeriodTotal" : {
          "type" : "number",
          "format" : "double",
          "description" : "Total projected income for the period."
        },
        "ExpiredSecuritiesTotal" : {
          "type" : "number",
          "format" : "double",
          "description" : "Total projected income for the expired securities"
        },
        "Day" : {
          "type" : "integer"
        },
        "Currency" : {
          "type" : "string",
          "description" : "Currency code (based on ISO 4217)"
        }
      },
      "x-restlet" : {
        "section" : "Object Model"
      }
    },
    "Relationship (full)" : {
      "type" : "object",
      "required" : [ "RelationshipId" ],
      "properties" : {
        "RelationshipId" : {
          "type" : "integer",
          "description" : "Unique Croesus client identifier"
        },
        "Number" : {
          "type" : "string",
          "description" : "Relationship number"
        },
        "ShortName" : {
          "type" : "string",
          "description" : "Relationship's short name",
          "maxLength" : 16
        },
        "LongName" : {
          "type" : "string",
          "description" : "Relationship's long name"
        },
        "InvestmentAdvisorCode" : {
          "type" : "string",
          "description" : "IA Code"
        },
        "RelationshipRepresentativeId" : {
          "type" : "integer",
          "description" : "Unique Croesus client identifier that is the primary contact for the relationship"
        },
        "RelationshipRepresentativeNumber" : {
          "type" : "string",
          "description" : "Number of the client that is the primary contact for the relationship"
        },
        "RelationshipRepresentativeShortName" : {
          "type" : "string",
          "description" : "Short name of the client that is the primary contact for the relationship"
        },
        "RelationshipRepresentativeLongName" : {
          "type" : "string",
          "description" : "Long name of the client that is the primary contact for the relationship"
        },
        "RelationshipCurrency" : {
          "type" : "string",
          "description" : "Relationship currency"
        },
        "RequestedCurrency" : {
          "type" : "string",
          "description" : "Currency in which the information is returned.\n\nAmounts are converted from the relationship currency to the requested currency."
        },
        "Balance" : {
          "type" : "number",
          "format" : "double",
          "description" : "Cash balance of the relationship as at settlement date"
        },
        "Margin" : {
          "type" : "string",
          "description" : "Client excess margin"
        },
[...]
